body {
  padding: 50px;
  font-family: "Inter", sans-serif;
}

section {
  /* top, right, bottom, left */
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  margin-top: 3em;
  margin-bottom: 3em;
}

section.white {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
}

section.grey {
  background-color: #eaf4f4;
  color: black;
}

section.black {
  background-color: black;
  color: white;
}


/* box-shadow: [offset-x] [offset-y] [blur-radius] [spread-radius] [color]; */

#map, #map2 {
  position: absolute;
  border: 2px solid #ccc;
  z-index: 1000;
  background-color: white;
  padding: 20px;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

#map {
  max-width: 600px;
  max-height: 400px;
}

#map2 {
  max-width: 600px;
  max-height: 600px;
}

#map.visible, #map2.visible {
  opacity: 1;
  pointer-events: auto;
}

#testChart, #yChart, .myMap {
  max-width: 600px;
  max-height: 400px;
  margin-bottom: 20px;
}

.slidercontainer {
  width: 100%;
}

#parameter {
  cursor: ew-resize;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: underline dotted;
}

.special-text-container, .special-text {
  display: inline;
}

.special-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.special-text-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 100px;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.8;
  transition: opacity .2s;
  margin-top: 10px;
}

.show-viz-btn {
  border-radius: 3px;
  background: white;
  /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25); */
  border: 1px solid rgba(130, 130, 130, 0.25);
  padding: 5px;
}

.lca-hint {
  padding-top: 3px;
}

/* Styles for the slider thumb */
.special-text-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #52B788;
  cursor: pointer;
  border: none;
}

.align-center {
  display: flex;
  align-items: center;
}

.instructions {
  color: rgb(63, 113, 222);
  font-style: italic;
}

#highlight-text, .dark-green {
  color: #1c543a;
}

.analyze-carbon {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  /* top, right, bottom, left */
  padding: 10px 20px 10px 20px;
  background-color: #def3e9;
  color: #2e7253;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.analyze-carbon:hover {
  background-color: #c1ebd9;
  transition: all 0.5s;
}

li {
  margin-top: 10px;
}

.from-to {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
}

.shipping-carbon-container {
  position: relative;
}

.shipping-carbon-container> * {
  font-family: "Lexend", sans-serif;
  font-size: 14px;
}

.transport-map {
  display: block;
  position: absolute;
  border-radius: 15px;
  background-color: #def3e9;
  padding: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.transport-map.visible {
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: transparent;
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}

#capacityButtons {
  display: flex;
}

.capacity {
  padding: 20px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.5s;
}

#button-128.active, #button-256.active, #button-512.active, #button-1000.active {
  background-color: rgb(82, 183, 136, 0.5);
  color: black;
}


/* ! For article 2 designs only */
.special-text-container-2 {
  display: inline-flex;
  align-items: center;
  padding: 2px;
  column-gap: 5px;
}
.special-text-2 {
  display: flex;
  outline: 2px solid #39805F;
  border-radius: 5px;
  /* top, right, bottom, left */
  padding: 5px 5px 5px 10px;
  margin: 3px;
  align-items: center;
  gap: 10px;
}
.eye-off, .eye-on {
  color: #39805F;
  padding: 5px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}
.eye-off {
  background-color: #F5F5F5;
  /* background-color: white; */
}
.eye-on {
  /* background-color: #C2E4D5; */
  background-color: #F2FFF9;
}
.up-down-btn-container {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.up-down-btn {
  padding: 0px 6px 0px 6px;
  box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.25);
}
.up-down-btn-container .up-down-btn svg {
  width: 0.7em;
  height: 0.7em;
}
.icon-12 {
  width: 12px;
  height: 12px;
}
.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-20 {
  width: 20px;
  height: 20px;
}
.icon-24 {
  width: 24px;
  height: 24px;
}
.em-small {
  width: 0.7em;
  height: 0.7em;
}
.em-regular {
  width: 1em;
  height: 1em;
}
.inactive {
  cursor: not-allowed;
  background-color: #F5F5F5;
  color: grey;
}
.active {
  cursor: pointer;
  background-color: white;
  color: #39805F;
}
.active:hover {
  background-color: #ddf2e8;
  transition: 0.5s all;
}
.inactive-st {
  background-color: #F5F5F5;
}
.active-st {
  background-color: #F2FFF9;
}
/* ! For article 2 designs only */