body {
  padding: 20px;
  font-family: "Inter", sans-serif;
}

#map {
  position: absolute;
  max-width: 600px;
  max-height: 400px;
  border: 2px solid #ccc;
  z-index: 1000;
  background-color: white;
  padding: 20px;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

#map.visible {
  opacity: 1;
  pointer-events: auto;
}

.text {
  font-size: 16px;
}

#testChart, .myMap {
  max-width: 600px;
  max-height: 400px;
  margin-bottom: 20px;
}

.slidecontainer {
  width: 100%;
}

#ten-minute {
  cursor: ew-resize;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: underline dotted;
}